http_interactions:
- request:
    method: get
    uri: https://bioconductor.org/about/release-announcements/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html
      last-modified: Tue, 26 Jul 2022 08:04:53 GMT
      etag: '"4e69-5e4b0c16abbff-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\" dir=\"ltr\" lang=\"en-US\"\nprefix=\"og:
        http://ogp.me/ns#\">\n  <head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\" />\n  <meta http-equiv=\"Content-Language\" content=\"en-us\"
        />\n  <meta name=\"robots\" content=\"all\" />\n  \n\n\n\n  \n  \n  \n    <script
        type=\"text/javascript\" src=\"/js/jquery.js\"></script>\n  \n  \n  <script
        src=\"/js/jquery.tools.min.js\"></script>\n\n  \n  \n  <title>Bioconductor
        - Release Announcements</title>\n  <link rel=\"stylesheet\" type=\"text/css\"
        href=\"/style/bioconductor.css\" media=\"screen\" />\n  <link rel=\"SHORTCUT
        ICON\" type=\"image/x-icon\" href=\"/favicon.ico\" />\n  <link rel=\"ICON\"
        type=\"image/x-icon\" href=\"/favicon.ico\" />\n  <script type=\"text/javascript\"
        src=\"/js/bioconductor.js\"></script>\n \n  <script type=\"text/javascript\"
        src=\"/js/jquery.corner.js\"></script>\n  <script type=\"text/javascript\"
        src=\"/js/jquery.timeago.js\"></script>\n  <script type=\"text/javascript\"
        src=\"/js/bioc-style.js\"></script>\n  <script type=\"text/javascript\" src=\"/js/versions.js\"></script>\n\n
        \ <!-- Google Analytics script -->\n  <script type=\"text/javascript\">\n
        \   var _gaq = _gaq || [];\n    _gaq.push(['_setAccount', 'UA-9338486-1']);\n
        \   _gaq.push(['_trackPageview']);\n\n    (function() {\n      var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;\n      ga.src = ('https:' ==
        document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';\n
        \     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,
        s);\n    })();\n  </script>\n</head>\n\n  <body>\n    <a name=\"top\"></a>\n\n<!--
        a few hooks for screen readers -->\n<a href=\"#site-navigation\" title=\"Jump
        to site nav\"></a>\n\n<a href=\"#section-navigation\" title=\"Jump to section
        nav\"></a>\n\n<a href=\"#site-map\" title=\"Jump to site map\"></a>\n\n\n
        \   <div id=\"SiteContainer\" class=\"SiteContainer\">\n      \n      <div
        id=\"PageContent\" class=\"PageContent WithRightRail\">\n      \n\n\n\t\n\t
        \ <div id=\"PageBreadcrumbs\" class=\"PageBreadcrumbs\">\n  <ul>\n    \n    \n
        \   \n      \n\t  \t\n        <li><a href=\"/\">Home</a></li>\n      \n    \n
        \   \n      \n\t  \t\n        <li><a href=\"/about/\">About</a></li>\n      \n
        \   \n    \n      \n        <li>Release Announcements</li>\n      \n    \n
        \ </ul>\n</div>\n\n\t\n\n\t\n\t\n\t\n\n\t<h1 id=\"bioconductor-releases\">Bioconductor
        releases</h1>\n\n<p>Each <em>Bioconductor</em> release is designed to work
        with a specific\nversion of <em>R</em>. The following table summarizes the
        relationship, and\nlinks to packages designed to work with the corresponding
        <em>R</em> /\n<em>Bioconductor</em> version.</p>\n\n<p><em>Bioconductor</em>
        versions are linked to their release announcement (when\navailable). Release
        announcements summarize new package additions,\nupdates to existing packages,
        and package removals.</p>\n\n<table>\n  <thead>\n    <tr>\n      <th style=\"text-align:
        left\">Release</th>\n      <th style=\"text-align: left\">Date</th>\n      <th
        style=\"text-align: right\">Software packages</th>\n      <th style=\"text-align:
        left\">R</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td style=\"text-align:
        left\"><a href=\"/news/bioc_3_15_release\">3.15</a></td>\n      <td style=\"text-align:
        left\">April 27, 2022</td>\n      <td style=\"text-align: right\"><a href=\"/packages/3.15/\">2140</a></td>\n
        \     <td style=\"text-align: left\">4.2</td>\n    </tr>\n    <tr>\n      <td
        style=\"text-align: left\"><a href=\"/news/bioc_3_14_release\">3.14</a></td>\n
        \     <td style=\"text-align: left\">October 27, 2021</td>\n      <td style=\"text-al[...]
