http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/turtletopia/gglgbtq/tags
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"447ca4a6aef34d890c59af926b399df89b33894fe9692767dcd2c7b22bde1685"
      last-modified: Mon, 06 Feb 2023 17:51:46 GMT
      x-github-media-type: github.v3
      x-github-api-version-selected: '2022-11-28'
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '58'
      x-ratelimit-reset: '1677062435'
      x-ratelimit-resource: core
      x-ratelimit-used: '2'
    body:
      encoding: UTF-8
      file: no
      string: |
        [
          {
            "name": "v0.1.1",
            "zipball_url": "https://api.github.com/repos/turtletopia/gglgbtq/zipball/refs/tags/v0.1.1",
            "tarball_url": "https://api.github.com/repos/turtletopia/gglgbtq/tarball/refs/tags/v0.1.1",
            "commit": {
              "sha": "db030fdc470f3d46cfadeb659452ea46ce063ee3",
              "url": "https://api.github.com/repos/turtletopia/gglgbtq/commits/db030fdc470f3d46cfadeb659452ea46ce063ee3"
            },
            "node_id": "REF_kwDOHxvnhLByZWZzL3RhZ3MvdjAuMS4x"
          },
          {
            "name": "v0.1.0",
            "zipball_url": "https://api.github.com/repos/turtletopia/gglgbtq/zipball/refs/tags/v0.1.0",
            "tarball_url": "https://api.github.com/repos/turtletopia/gglgbtq/tarball/refs/tags/v0.1.0",
            "commit": {
              "sha": "28e87153c0214ef360620566416225e3be4d3c81",
              "url": "https://api.github.com/repos/turtletopia/gglgbtq/commits/28e87153c0214ef360620566416225e3be4d3c81"
            },
            "node_id": "REF_kwDOHxvnhLByZWZzL3RhZ3MvdjAuMS4w"
          }
        ]
  recorded_at: 2023-02-22 09:42:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/gglgbtq/v0.1.1/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"953d134e86253ecbfe6f5e65acdf4d0bc9eec793a49d8fc3c86b13756769ea31"
      x-fastly-request-id: 18da2d1f8dd2afd008b52b28150b84dd1ce9a778
      source-age: '0'
    body:
      encoding: UTF-8
      file: no
      string: "Package: gglgbtq\nType: Package\nTitle: Show Pride on 'ggplot2' Plots\nVersion:
        0.1.1\nDate: 2022-08-06\nAuthors@R: c(person(\"Laura\", \"Bakala\",\n             email
        = \"erdaradun.gaztea@gmail.com\",\n             role = c(\"cre\", \"aut\",
        \"cph\")))\nDescription: Provides multiple palettes based on pride flags with
        tailored themes.\nImports: \n    ggplot2,\n    graphics,\n    grDevices\nSuggests:
        \n    knitr,\n    rmarkdown,\n    spelling,\n    testthat (>= 3.0.0)\nLicense:
        GPL (>= 3)\nEncoding: UTF-8\nRoxygen: list(markdown = TRUE)\nRoxygenNote:
        7.1.2\nConfig/testthat/edition: 3\nURL: https://github.com/turtletopia/gglgbtq,\n
        \   https://turtletopia.github.io/gglgbtq/\nLanguage: en-US\nVignetteBuilder:
        knitr\n"
  recorded_at: 2023-02-22 09:42:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/gglgbtq/v0.1.0/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"c73bcd981e013fdf79aa122ccc75880d6d5dcc9b48cef34a653c0f0bea5c5fd8"
      x-fastly-request-id: e62b0e2694550b5bd5bd2c206caf3c2b074f7174
      source-age: '0'
    body:
      encoding: UTF-8
      file: no
      string: "Package: gglgbtq\nType: Package\nTitle: Show Pride on 'ggplot2' Plots\nVersion:
        0.1.0\nDate: 2022-08-06\nAuthors@R: c(person(\"Laura\", \"Bakala\",\n             email
        = \"erdaradun.gaztea@gmail.com\",\n             role = c(\"cre\", \"aut\",
        \"cph\")))\nDescription: Provides multiple palettes based on pride flags with
        tailored themes.\nImports: \n    ggplot2,\n    graphics,\n    grDevices\nSuggests:
        \n    spelling,\n    testthat (>= 3.0.0)\nLicense: GPL (>= 3)\nEncoding: UTF-8\nRoxygen:
        list(markdown = TRUE)\nRoxygenNote: 7.1.2\nConfig/testthat/edition: 3\nURL:
        https://github.com/turtletopia/gglgbtq\nLanguage: en-US\n"
  recorded_at: 2023-02-22 09:42:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
