http_interactions:
- request:
    method: get
    uri: https://tidyverse.r-universe.dev/packages/ggplot2/any/src
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"518c-cxi/xGR93brEq6f0opQ1r4I5G34"
      x-runiverse-cache: MISS
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
          {
            "_id": "625ffc389484c30012f5531f",
            "Package": "ggplot2",
            "Title": "Create Elegant Data Visualisations Using the Grammar of Graphics",
            "Version": "3.3.5.9000",
            "Authors@R": "c(\nperson(\"Hadley\", \"Wickham\", , \"hadley@rstudio.com\", role = \"aut\",\ncomment = c(ORCID = \"0000-0003-4757-117X\")),\nperson(\"Winston\", \"Chang\", role = \"aut\",\ncomment = c(ORCID = \"0000-0002-1576-2126\")),\nperson(\"Lionel\", \"Henry\", role = \"aut\"),\nperson(\"Thomas Lin\", \"Pedersen\", , \"thomas.pedersen@rstudio.com\", role = c(\"aut\", \"cre\"),\ncomment = c(ORCID = \"0000-0002-5147-4711\")),\nperson(\"Kohske\", \"Takahashi\", role = \"aut\"),\nperson(\"Claus\", \"Wilke\", role = \"aut\",\ncomment = c(ORCID = \"0000-0002-7470-9261\")),\nperson(\"Kara\", \"Woo\", role = \"aut\",\ncomment = c(ORCID = \"0000-0002-5125-4188\")),\nperson(\"Hiroaki\", \"Yutani\", role = \"aut\",\ncomment = c(ORCID = \"0000-0002-3385-7233\")),\nperson(\"Dewey\", \"Dunnington\", role = \"aut\",\ncomment = c(ORCID = \"0000-0002-9415-4582\")),\nperson(\"RStudio\", role = c(\"cph\", \"fnd\"))\n)",
            "Description": "A system for 'declaratively' creating graphics, based on \"The\nGrammar of Graphics\". You provide the data, tell 'ggplot2' how to map\nvariables to aesthetics, what graphical primitives to use, and it\ntakes care of the details.",
            "License": "MIT + file LICENSE",
            "URL": "https://ggplot2.tidyverse.org,\nhttps://github.com/tidyverse/ggplot2",
            "BugReports": "https://github.com/tidyverse/ggplot2/issues",
            "VignetteBuilder": "knitr",
            "Config/Needs/website": "ggtext, tidyr, forcats, tidyverse/tidytemplate",
            "Config/testthat/edition": "3",
            "Encoding": "UTF-8",
            "LazyData": "true",
            "Roxygen": "list(markdown = TRUE)",
            "RoxygenNote": "7.1.2",
            "Collate": "'ggproto.r' 'ggplot-global.R' 'aaa-.r'\n'aes-colour-fill-alpha.r' 'aes-evaluation.r'\n'aes-group-order.r' 'aes-linetype-size-shape.r'\n'aes-position.r' 'compat-plyr.R' 'utilities.r' 'aes.r'\n'legend-draw.r' 'geom-.r' 'annotation-custom.r'\n'annotation-logticks.r' 'geom-polygon.r' 'geom-map.r'\n'annotation-map.r' 'geom-raster.r' 'annotation-raster.r'\n'annotation.r' 'autolayer.r' 'autoplot.r' 'axis-secondary.R'\n'backports.R' 'bench.r' 'bin.R' 'coord-.r' 'coord-cartesian-.r'\n'coord-fixed.r' 'c[...]
