http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/turtletopia/repos?per_page=100&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5aeceab55e231ddf2862456fa8bff82b1e341bb0bcea4c4eed4df5445b5ae0b3"
      x-github-media-type: github.v3
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '51'
      x-ratelimit-reset: '1661609545'
      x-ratelimit-resource: core
      x-ratelimit-used: '9'
    body:
      encoding: ''
      file: no
      string: |
        [
          {
            "id": 521922436,
            "node_id": "R_kgDOHxvnhA",
            "name": "gglgbtq",
            "full_name": "turtletopia/gglgbtq",
            "private": false,
            "owner": {
              "login": "turtletopia",
              "id": 103829938,
              "node_id": "O_kgDOBjBRsg",
              "avatar_url": "https://avatars.githubusercontent.com/u/103829938?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/turtletopia",
              "html_url": "https://github.com/turtletopia",
              "followers_url": "https://api.github.com/users/turtletopia/followers",
              "following_url": "https://api.github.com/users/turtletopia/following{/other_user}",
              "gists_url": "https://api.github.com/users/turtletopia/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/turtletopia/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/turtletopia/subscriptions",
              "organizations_url": "https://api.github.com/users/turtletopia/orgs",
              "repos_url": "https://api.github.com/users/turtletopia/repos",
              "events_url": "https://api.github.com/users/turtletopia/events{/privacy}",
              "received_events_url": "https://api.github.com/users/turtletopia/received_events",
              "type": "Organization",
              "site_admin": false
            },
            "html_url": "https://github.com/turtletopia/gglgbtq",
            "description": "Provides multiple palettes based on pride flags with tailored themes.",
            "fork": false,
            "url": "https://api.github.com/repos/turtletopia/gglgbtq",
            "forks_url": "https://api.github.com/repos/turtletopia/gglgbtq/forks",
            "keys_url": "https://api.github.com/repos/turtletopia/gglgbtq/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/turtletopia/gglgbtq/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/turtletopia/gglgbtq/teams",
            "hooks_url": "https://api.github.com/repos/turtletopia/gglgbtq/hooks",
            "issue_events_url": "https://api.github.com/repos/turtletopia/gglgbtq/issues/events{/number}",
            "events_url": "https://api.github.com/repos/turtletopia/gglgbtq/events",
            "assignees_url": "https://api.github.com/repos/turtletopia/gglgbtq/assignees{/user}",
            "branches_url": "https://api.github.com/repos/turtletopia/gglgbtq/branches{/branch}",
            "tags_url": "https://api.github.com/repos/turtletopia/gglgbtq/tags",
            "blobs_url": "https://api.github.com/repos/turtletopia/gglgbtq/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/turtletopia/gglgbtq/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/turtletopia/gglgbtq/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/turtletopia/gglgbtq/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/turtletopia/gglgbtq/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/turtletopia/gglgbtq/languages",
            "stargazers_url": "https://api.github.com/repos/turtletopia/gglgbtq/stargazers",
            "contributors_url": "https://api.github.com/repos/turtletopia/gglgbtq/contributors",
            "subscribers_url": "https://api.github.com/repos/turtletopia/gglgbtq/subscribers",
            "subscription_url": "https://api.github.com/repos/turtletopia/gglgbtq/subscription",
            "commits_url": "https://api.github.com/repos/turtletopia/gglgbtq/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/turtletopia/gglgbtq/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/turtletopia/gglgbtq/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/turtletopia/gglgbtq/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/turtletopia/gglgbtq/contents/{+path}",
            "compare_url": "https://api.github.com/repos/turtletopia/gglgbtq/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/turtletopia/gglgbtq/merges",
            "archive_url": "https://api.github.com/repos/turtletopia/gglgbtq/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/turtletopia/gglgbtq/downloads",
            "issues_url": "https://api.github.com/repos/turtletopia/gglgbtq/issues{/number}",
            "pulls_url": "https://api.github.com/repos/turtletopia/gglgbtq/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/turtletopia/gglgbtq/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/turtletopia/gglgbtq/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/turtletopia/gglgbtq/labels{/name}",
            "releases_url": "https://api.github.com/repos/turtletopia/gglgbtq/releases{/id}",
            "deployments_url": "https://api.github.com/repos/turtletopia/gglgbtq/deployments",
            "created_at": "2022-08-06T11:02:28Z",
            "updated_at": "2022-08-27T12:14:35Z",
            "pushed_at": "2022-08-14T18:04:53Z",
            "git_url": "git://github.com/turtletopia/gglgbtq.git",
            "ssh_url": "git@github.com:turtletopia/gglgbtq.git",
            "clone_url": "https://github.com/turtletopia/gglgbtq.git",
            "svn_url": "https://github.com/turtletopia/gglgbtq",
            "homepage": "",
            "size": 217,
            "stargazers_count": 4,
            "watchers_count": 4,
            "language": "R",
            "has_issues": true,
            "has_projects": true,
            "has_downloads": true,
            "has_wiki": true,
            "has_pages": false,
            "forks_count": 0,
            "mirror_url": null,
            "archived": false,
            "disabled": false,
            "open_issues_count": 9,
            "license": {
              "key": "gpl-3.0",
              "name": "GNU General Public License v3.0",
              "spdx_id": "GPL-3.0",
              "url": "https://api.github.com/licenses/gpl-3.0",
              "node_id": "MDc6TGljZW5zZTk="
            },
            "allow_forking": true,
            "is_template": false,
            "web_commit_signoff_required": false,
            "topics": [
              "ggplot2",
              "ggplot2-themes",
              "lgbt",
              "palettes",
              "pride",
              "pride-flags",
              "r"
            ],
            "visibility": "public",
            "forks": 0,
            "open_issues": 9,
            "watchers": 4,
            "default_branch": "master"
          },
          {
            "id": 487333731,
            "node_id": "R_kgDOHQwfYw",
            "name": "ggpizza",
            "full_name": "turtletopia/ggpizza",
            "private": false,
            "owner": {
              "login": "turtletopia",
              "id": 103829938,
              "node_id": "O_kgDOBjBRsg",
              "avatar_url": "https://avatars.githubusercontent.com/u/103829938?v=4",
              "gravatar_id": "",
              "url": "https://api.git[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/gglgbtq/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"c73bcd981e013fdf79aa122ccc75880d6d5dcc9b48cef34a653c0f0bea5c5fd8"
      x-fastly-request-id: 998afb39316b87a4c8fb13a1f2297ec3327551a9
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: "Package: gglgbtq\nType: Package\nTitle: Show Pride on 'ggplot2' Plots\nVersion:
        0.1.0\nDate: 2022-08-06\nAuthors@R: c(person(\"Laura\", \"Bakala\",\n             email
        = \"erdaradun.gaztea@gmail.com\",\n             role = c(\"cre\", \"aut\",
        \"cph\")))\nDescription: Provides multiple palettes based on pride flags with
        tailored themes.\nImports: \n    ggplot2,\n    graphics,\n    grDevices\nSuggests:
        \n    spelling,\n    testthat (>= 3.0.0)\nLicense: GPL (>= 3)\nEncoding: UTF-8\nRoxygen:
        list(markdown = TRUE)\nRoxygenNote: 7.1.2\nConfig/testthat/edition: 3\nURL:
        https://github.com/turtletopia/gglgbtq\nLanguage: en-US\n"
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/ggpizza/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"d2deacb8f93f5e2db34cffbeb8f40f7a5779487418ebd82d398838c5f8695758"
      x-fastly-request-id: 25743a98591d2f4bc417c537b58fce40eb95c9bf
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: "Package: ggpizza\nTitle: Makes Points Which Are Pizza\nVersion: 0.1.0\nAuthors@R:
        \n    person(\"Dominik\", \"Rafacz\", \n        email = \"dominikrafacz@gmail.com\",\n
        \       comment = c(ORCID = \"0000-0003-0925-1909\"),\n        role = c(\"cre\",
        \"aut\"))\nDescription: Makes pizza. Will expand that later\nLicense: `use_mit_license()`,
        `use_gpl3_license()` or friends to pick a\n    license\nEncoding: UTF-8\nRoxygen:
        list(markdown = TRUE)\nRoxygenNote: 7.1.2\nImports: \n    ggplot2,\n    dplyr\nURL:
        https://github.com/turtletopia/ggpizza\n"
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/simpleprogress/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain; charset=utf-8
      x-fastly-request-id: dbf07266a741722750ba66fbf99f00758bc6e849
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: '404: Not Found'
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/turtletopia.github.io/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain; charset=utf-8
      x-fastly-request-id: 2573d64299fb5a2e1d2e2f0c0efea6d14386a892
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: '404: Not Found'
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/universe/main/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain; charset=utf-8
      x-fastly-request-id: eed0ef658549abd25190dad540f3770885aec1cd
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: '404: Not Found'
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/versionsort/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"b1ec1a38f7890dd71a4bf3132d7f3e68b2c02d3763a8c9eee8ca83ceaf34d5a6"
      x-fastly-request-id: eb24eb0cd60e63d1da2b3af2aa6bf7d8889d5009
      source-age: '0'
    body:
      encoding: ''
      file: no
      string: "Package: versionsort\nType: Package\nTitle: Sort and Order Version
        Codes\nVersion: 1.1.0\nDate: 2022-03-23\nAuthors@R: c(person(\"Laura\", \"Bakala\",\n
        \            email = \"erdaradun.gaztea@gmail.com\",\n             role =
        c(\"cre\", \"aut\", \"cph\")))\nDescription: A lightweight package for sorting
        version codes in various forms. No strong dependencies guaranteed.\nLicense:
        GPL (>= 3)\nEncoding: UTF-8\nRoxygen: list(markdown = TRUE)\nRoxygenNote:
        7.1.2\nSuggests: \n    covr,\n    spelling,\n    testthat (>= 3.0.0)\nURL:
        https://github.com/turtletopia/versionsort\nConfig/testthat/edition: 3\nLanguage:
        en-US\n"
  recorded_at: 2022-08-27 13:33:47 GMT
  recorded_with: vcr/1.0.2.95, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/turtletopia/woodendesc/master/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"ef7aecd2a3773f5ca54353694c8dfb3e52b8f593423f3cf8147af65edc45e648"
      x-fastly-request-id: bed69217109ee5750b940476c65a6ff39b4c5ce[...]
