http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/-/desc?start_key=%22versionsort%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{ "versionsort": { "version": "1.1.0", "title": "Sort and Order Version
        Codes" } }'
  recorded_at: 2023-02-23 18:09:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/cran/versionsort/1.1.0/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"22758dbeef163a456a11700485d080c3e9ad54380c07871ad1c5b6b4a472409a"
      x-fastly-request-id: d689bda1ae22c3016db83ea537f27f1a2dedce5e
      source-age: '0'
    body:
      encoding: UTF-8
      file: no
      string: |
        Package: versionsort
        Type: Package
        Title: Sort and Order Version Codes
        Version: 1.1.0
        Date: 2022-03-23
        Authors@R: c(person("Laura", "Bakala",
                     email = "erdaradun.gaztea@gmail.com",
                     role = c("cre", "aut", "cph")))
        Description: A lightweight package for sorting version codes in various forms. No strong dependencies guaranteed.
        License: GPL (>= 3)
        Encoding: UTF-8
        RoxygenNote: 7.1.2
        Suggests: covr, spelling, testthat (>= 3.0.0)
        Config/testthat/edition: 3
        Language: en-US
        NeedsCompilation: no
        Packaged: 2022-03-25 00:14:57 UTC; erdar
        Author: Laura Bakala [cre, aut, cph]
        Maintainer: Laura Bakala <erdaradun.gaztea@gmail.com>
        Repository: CRAN
        Date/Publication: 2022-03-25 08:10:02 UTC
  recorded_at: 2023-02-23 18:09:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/-/desc?start_key=%22gglgbtq%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{ "gglgbtq": { "version": "0.1.1", "title": "Show Pride on ''ggplot2''
        Plots" } }'
  recorded_at: 2023-02-23 18:09:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://raw.githubusercontent.com/cran/gglgbtq/0.1.1/DESCRIPTION
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"b850a4283b88b8380089f0b499cfbac1ffabaea64a58da9d5508e9880d1599fc"
      x-fastly-request-id: e4b92ed2a899f5ff16482ca570d1c5475721ccd0
      source-age: '0'
    body:
      encoding: UTF-8
      file: no
      string: |
        Package: gglgbtq
        Type: Package
        Title: Show Pride on 'ggplot2' Plots
        Version: 0.1.1
        Date: 2022-11-01
        Authors@R: c(person("Laura", "Bakala",
                     email = "erdaradun.gaztea@gmail.com",
                     role = c("cre", "aut", "cph"),
                     comment = c(ORCID = "0000-0002-3213-2484")))
        Description: Provides multiple palettes based on pride flags with tailored themes.
        Imports: ggplot2, graphics, grDevices
        Suggests: knitr, rmarkdown, spelling, testthat (>= 3.0.0)
        License: GPL (>= 3)
        Encoding: UTF-8
        RoxygenNote: 7.1.2
        Config/testthat/edition: 3
        URL: https://github.com/turtletopia/gglgbtq,
                https://turtletopia.github.io/gglgbtq/
        Language: en-US
        VignetteBuilder: knitr
        NeedsCompilation: no
        Packaged: 2022-11-01 10:14:44 UTC; erdar
        Author: Laura Bakala [cre, aut, cph] (<https://orcid.org/0000-0002-3213-2484>)
        Maintainer: Laura Bakala <erdaradun.gaztea@gmail.com>
        Repository: CRAN
        Date/Publication: 2022-11-01 10:40:16 UTC
  recorded_at: 2023-02-23 18:09:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/-/desc?start_key=%22woodendesc%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{ "WoodSimulatR": { "version": "0.6.0", "title": "Generate Simulated
        Sawn Timber Strength Grading Data" } }'
  recorded_at: 2023-02-23 18:09:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
