http_interactions:
- request:
    method: get
    uri: https://turtletopia.r-universe.dev/packages/versionsort/any/src
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c17-GhDvHQdF43G7DGmKhOjChcYa9tU"
      x-runiverse-cache: MISS
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
          {
            "_id": "625b4cf79484c30012f4d540",
            "Package": "versionsort",
            "Type": "Package",
            "Title": "Sort and Order Version Codes",
            "Version": "1.1.0",
            "Date": "2022-03-23",
            "Authors@R": "c(person(\"Laura\", \"Bakala\",\nemail = \"erdaradun.gaztea@gmail.com\",\nrole = c(\"cre\", \"aut\", \"cph\")))",
            "Description": "A lightweight package for sorting version codes in various forms. No strong dependencies guaranteed.",
            "License": "GPL (>= 3)",
            "Encoding": "UTF-8",
            "Roxygen": "list(markdown = TRUE)",
            "RoxygenNote": "7.1.2",
            "URL": "https://github.com/ErdaradunGaztea/versionsort",
            "Config/testthat/edition": "3",
            "Language": "en-US",
            "Repository": "https://turtletopia.r-universe.dev",
            "RemoteUrl": "https://github.com/ErdaradunGaztea/versionsort",
            "RemoteRef": "HEAD",
            "RemoteSha": "8b87f0b0b8013456e9d9c26d8d3da5df5b478bf6",
            "NeedsCompilation": "no",
            "Packaged": "2022-04-16 23:06:18 UTC; root",
            "Author": "Laura Bakala [cre, aut, cph]",
            "Maintainer": "Laura Bakala <erdaradun.gaztea@gmail.com>",
            "_user": "turtletopia",
            "_type": "src",
            "_file": "versionsort_1.1.0.tar.gz",
            "_published": "2022-04-16T23:10:47.602Z",
            "_builder": {
              "upstream": "https://github.com/ErdaradunGaztea/versionsort",
              "registered": "true",
              "commit": {
                "id": "8b87f0b0b8013456e9d9c26d8d3da5df5b478bf6",
                "author": "Laura <erdaradun.gaztea+github@gmail.com>",
                "committer": "Laura <erdaradun.gaztea+github@gmail.com>",
                "message": "add missing URL\n\n",
                "time": 1650147407
              },
              "maintainer": {
                "name": "Laura Bakala",
                "email": "erdaradun.gaztea@gmail.com",
                "login": "erdaradungaztea"
              },
              "distro": "focal",
              "host": "GitHub-Actions",
              "status": "success",
              "gitstats": {
                "updates": [
                  {
                    "week": "2021-50",
                    "n": 24
                  },
                  {
                    "week": "2022-12",
                    "n": 7
                  },
                  {
                    "week": "2022-15",
                    "n": 1
                  }
                ],
                "tags": [
                  {
                    "name": "v1.0.0",
                    "date": "2021-12-15"
                  },
                  {
                    "name": "v1.1.0",
                    "date": "2022-03-26"
                  }
                ],
                "contributions": {
                  "erdaradungaztea": 52
                },
                "topics": [
                  "natural-sort",
                  "version-code"
                ],
                "organization": false,
                "stars": 3
              },
              "pkgdocs": "skipped",
              "url": "https://github.com/r-universe/turtletopia/actions/runs/2178184650"
            },
            "_owner": "erdaradungaztea",
            "_selfowned": false,
            "_registered": true,
            "MD5sum": "4e2ca0291c8e5f8a686064f7ed9c5a62",
            "_hard_deps": [],
            "_soft_deps": [
              {
                "package": "covr",
                "role": "Suggests"
              },
              {
                "package": "spelling",
                "role": "Suggests"
              },
              {
                "package": "testthat",
                "version": ">= 3.0.0",
                "role": "Suggests"
              }
            ]
          }
        ]
  recorded_at: 2022-04-19 20:38:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
